html {
    display: table;
    margin: auto;
}
body{
    font-family: tahoma, sans-serif;
    text-align: center;
    width: 200px;
}
table{
    margin: 0 auto;
}
td{
    border: solid 1px;
    height: 40px;
    width:  40px;
    font-size: 20px;
}

button{
    margin-top:5px !important;
}


