<!doctype html>
<html lang="en" ng-app="puzzleApp">
<head>
    <meta charset="utf-8">
    <title>Puzzle Game base on AngularJs framework</title>
    <meta name=viewport content="width=200">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
    <script src="js/config.js" type="text/javascript"></script>
    <script src="js/puzzle.js" type="text/javascript"></script>
    <script src="js/modal.js" type="text/javascript"></script>
</head>
<body ng-controller="puzzleCtrl">
<span>Time: {{user.timer || '0:00:00'}}</span>
<span>Steps: {{user.steps}}</span>
<table>
    <tr ng-repeat="rows in tiles">
        <td ng-repeat="cols in rows" ng-click="move(cols)">
            <div ng-if="invisibleTile != cols" >{{cols}}</div>

        </td>
    </tr>
</table>

<button class="btn btn-primary" ng-if="!started" ng-click="start()">Start</button>
<button class="btn btn-primary" ng-if="started" ng-click="stop()">Stop</button>
<button class="btn btn-primary" ng-click="history()">History</button>


<!-- modal dialog -->
<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">High Score Chart{{user.winner}}</h3>
    </div>
    <div class="modal-body">
        <form name="form" ng-submit="addName(name)" ng-if="user.winner">
            <div class="control-group" ng-class="{true: 'error'}[submitted && form.email.$invalid]">
                <span>Type Your Name: </span><span><input name="name" ng-model="name" required></span>
                <span class="error" ng-show="submitted && form.name.$error.required">Required!</span>
                <button type="submit" ng-click="submitted=true;" class="btn btn-primary">Add</button>
            </div>
        </form>
        <hr ng-if="winners.length && user.winner" />
        <table class="table table-condensed table-striped table-bordered table-hover" >
            <thead>
                <tr>
                    <th>Name</th><th>Time</th><th>Steps</th>
                </tr>
            </thead>
            <tbody>
            <tr ng-if="winners.length" ng-repeat="user in winners | orderBy:'time'">
                <td>{{user.name}}</td><td>{{user.time}}</td><td>{{user.steps}}</td>
            </tr>
            <tr ng-if="!winners.length">
                <td colspan="3">Empty</td>
            </tr>

            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">Close</button>
    </div>
</script>
</body>
</html>
